.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}
@font-face {
  font-family: 'boucher';
  src: url('/Prox-Regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
}

.tablecontainer {
  width: 100%;
  overflow-x: auto;
}

.myTable table{
  table-layout: fixed;
  width: 100%;

}
.myC{
  width : 1000px;
  height: 200px;

}

.title {
  font-family: 'boucher', futura;
 
}
