.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;
}


.tablecontainer {
  width: 100%;
  overflow-x: auto;
}

.myTable table{
  table-layout: fixed;
  width: 100%;

}
.myC{
  width : 1000px;
  height: 200px;

}
